.header__lang-link {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}
