.place__title {
  margin: 0;
  padding: 0;
  font-weight: 900;

  color: #ffffff;
  grid-area: title;
  font-family: "Inter", sans-serif;
  max-width: 460px;
}

@media only screen and (min-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
}

@media only screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media only screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
