.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 320px;
  margin: 32px auto 0;
  z-index: 1;
}

@media only screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    margin: 16px auto 0;
    word-break: break-all;
  }

  .cover__subtitle:first-line {
    max-width: 200px;
  }
}
