.lead__title {
  width: 720px;
  font-family: "Inter-Black", sans-serif;
  color: #ffffff;
  text-align: center;
  margin: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
