@import url("./__url-heading/website__url-heading.css");
@import url("./__link/website__link.css");
.website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 320px) {
  .website {
    margin: 0 16px;
  }
}
