.website__url-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  color: #aaaaaa;
}

@media only screen and (max-width: 320px) {
  .website__url-heading {
    line-height: 12px;
  }
}
