.footer__nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  max-height: 28px;
  top: 46px;
  color: #ffffff;
}

@media only screen and (max-width: 320px) {
  .footer__nav {
    flex-direction: column;
    max-width: 165px;
    max-height: 198px;
  }
}
