.cover__overlay {
  text-decoration: none;
  width: 100%;
  background-color: rgb(42, 44, 47, 0.3);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.cover__overlay:hover {
  background-color: rgb(42, 44, 47, 0.8);
}

@media only screen and (min-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}
@media only screen and (min-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}
@media only screen and (min-width: 1280px) {
  .cover__overlay {
    max-width: 1184px;
    min-height: 740px;
  }
}
