.cover__title {
  padding: 0;
  margin: 0;
  font-family: "Inter-Black", sans-serif;
  margin-top: 283px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffdfd;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 233px;
  }
}
@media only screen and (max-width: 768px) {
  .cover__title {
    margin-top: 153px;
  }
}
@media only screen and (max-width: 320px) {
  .cover__title {
    margin-top: 51px;
    font-size: 32px;
    line-height: 35px;
  }
}
