@import url("./__title/place__title.css");
@import url("./__image/place__image.css");
@import url("./__paragraphs/place__paragraphs.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__website/place__website.css");
.place {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-areas:
    "title website"
    "image paragraphs";
}

.place:not(:last-child) {
  margin-bottom: 80px;
}
