@import url("./__title/place__title.css");
@import url("./__image/place__image.css");
@import url("./__paragraphs/place__paragraphs.css");
@import url("./__paragraph/place__paragraph.css");
.place {
  display: grid;
  justify-content: center;
}

@media only screen and (min-width: 320px) {
  .place {
    grid-row-gap: 30px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs";
  }
  .place:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .place {
    grid-column-gap: 28px;
    grid-template-areas:
      "title website"
      "image paragraphs";
  }
  .place:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1024px) {
  .place {
    max-width: 984px;
    grid-column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-column-gap: 40px;
  }
}
