@import url("./__nav/footer__nav.css");
@import url("./__nav-item/footer__nav-item.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");
.footer {
  display: flex;
  justify-content: space-between;
  /* margin: 92px auto 24px; */
  flex-direction: column;
}

@media only screen and (min-width: 320px) {
  .footer {
    margin: 64px auto 24px 16px;
    max-width: 165px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
