.intro__title {
  font-family: "Inter-Black", sans-serif;
  margin-top: 92px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
  }
}
